@import "../variables.scss";

.border-1{ border-width: 1px; border-style: solid; }
.border-gray-100{ border-color: $gray-100; }
.border-gray-200{ border-color: $gray-200; }
.border-gray-300{ border-color: $gray-300; }
.border-gray-400{ border-color: $gray-400; }
.border-gray-500{ border-color: $gray-500; }
.border-gray-600{ border-color: $gray-600; }
.border-gray-700{ border-color: $gray-700; }
.border-gray-800{ border-color: $gray-800; }
.border-gray-900{ border-color: $gray-900; }

.border-t-1{ border-top-width: 1px; border-top-style: solid; }
.border-t-gray-100{ border-top-color: $gray-100; }
.border-t-gray-200{ border-top-color: $gray-200; }
.border-t-gray-300{ border-top-color: $gray-300; }
.border-t-gray-400{ border-top-color: $gray-400; }
.border-t-gray-500{ border-top-color: $gray-500; }
.border-t-gray-600{ border-top-color: $gray-600; }
.border-t-gray-700{ border-top-color: $gray-700; }
.border-t-gray-800{ border-top-color: $gray-800; }
.border-t-gray-900{ border-top-color: $gray-900; }

.border-b-1{ border-bottom-width: 1px; border-bottom-style: solid; }
.border-b-gray-100{ border-bottom-color: $gray-100; }
.border-b-gray-200{ border-bottom-color: $gray-200; }
.border-b-gray-300{ border-bottom-color: $gray-300; }
.border-b-gray-400{ border-bottom-color: $gray-400; }
.border-b-gray-500{ border-bottom-color: $gray-500; }
.border-b-gray-600{ border-bottom-color: $gray-600; }
.border-b-gray-700{ border-bottom-color: $gray-700; }
.border-b-gray-800{ border-bottom-color: $gray-800; }
.border-b-gray-900{ border-bottom-color: $gray-900; }



