@import "_typography.scss";
@import "_layers.scss";
@import "_colours.scss";
@import "_sizing.scss";
@import "_display.scss";
@import "_responsive.scss";
@import "_flex.scss";
@import "_tables.scss";
@import "_flexGrid.scss";

@import "_forms.scss";
@import "_buttons.scss";
@import "_borders.scss";

hr
{
    margin: 0px 0px;
    padding: 0px 0px;
    border: none;
    border-bottom: 1px solid $gray-200;
}

.cursor-pointer
{
    cursor: pointer;
}