@import "../variables.scss";

// ## RESETS
button
{
    font-family: $font-family;
    font-size: $text-size;
    line-height: 1.5;
    color: $text-default;
}

button,
.btn
{
    display: inline-block;
    
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    white-space: nowrap;
    
    border-radius: $border-radius;
    
    padding: $input-padding-y $input-padding-x;

    cursor: pointer;

    border: 1px solid $control-border-colour;
    color: $text-default;
    background-color: $text-default-bg;

    transition: background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;

    &:hover
    {
        background-color: $text-inverted-bg;
        color: $text-inverted;
        text-decoration: none;
    }
    
    &:active,
    &:focus
    {
        outline: 0;
        border-color: $control-border-colour;
        box-shadow: 0 0 0 0.2rem rgba($control-border-colour, .50);
    }

    &.btn-primary
    {
        border-color: transparent;
        color: $text-inverted;
        background-color: $primary;

        &:hover{
            background-color: $primary-dark;
        }

        &:active,
        &:focus
        {
            border-color: $primary;
            box-shadow: 0 0 0 0.2rem rgba($primary, .50);
        }
    }

    &.btn-secondary
    {
        border-color: transparent;
        color: $text-inverted;
        background-color: $secondary;

        &:hover{
            background-color: $secondary-dark;
        }

        &:active,
        &:focus
        {
            border-color: $secondary;
            box-shadow: 0 0 0 0.2rem rgba($secondary, .50);
        }
    }

    &.btn-danger
    {
        border-color: transparent;
        color: $text-inverted;
        background-color: $red;

        &:hover{
            background-color: darken($red, 10%);
        }

        &:active,
        &:focus
        {
            border-color: $red;
            box-shadow: 0 0 0 0.2rem rgba($red, .50);
        }
    }

    &:disabled,
    &:disabled:hover,
    &.btn-primary:disabled,
    &.btn-primary:disabled:hover,
    &.btn-secondary:disabled,
    &.btn-secondary:disabled:hover,
    &.btn-danger:disabled,
    &.btn-danger:disabled:hover
    {
        background-color: $gray-200 !important;
        color: $gray-400 !important;
        cursor: not-allowed;
    }


    &.btn-sm
    {
        font-size: $text-sm;
        padding: $input-padding-y*0.75 $input-padding-x*0.75;
    }
    
    &.btn-xs
    {
        font-size: $text-xs;
        padding: $input-padding-y*0.5 $input-padding-x*0.5;
    }
}

button.flat-btn,
div.flat-btn
{
    display: inline-block;
    
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    white-space: nowrap;

    line-height: 1.15;
    
    cursor: pointer;

    padding: 0px 0px;
    border: none;
    background-color: inherit;

    color: $text-muted;

    transition: color 0.15s ease-in-out;

    &:hover
    {
        color: $text-default;
        text-decoration: none;
    }
    
    &:active,
    &:focus
    {
        outline: 0;
        border-color: $control-border-colour;
        box-shadow: 0 0 0 0.2rem rgba($control-border-colour, .50);
    }

    &.btn-xl
    {
        font-size: $text-xl;
    }

    &.btn-sm
    {
        font-size: $text-sm;
    }
    
    &.btn-xs
    {
        font-size: $text-xs;
    }

}


