
// ########## SHADOWS
@mixin shadow-lg
{
    // h-off v-off blur spread colour
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin shadow-lg-very-dark
{
    // h-off v-off blur spread colour
    box-shadow: 3px 4px 3px -3px rgba(0, 0, 0, 0.8);
}

@mixin shadow-regular
{
    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132),
                0 .6px 1.8px 0 rgba(0, 0, 0, .108);
}